<nav id="nav">
  <ul class="links">
    <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/#header" | absolute_url }}">Home</a></li>
    <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Julie Sharp</a></li>
    <li class="{% if page.url contains '/programmes/' %} active {% endif %}"><a href="{{ "/programmes/" | absolute_url }}">Programmes</a></li>
    <li class="{% if page.url contains '/articles/' %} active {% endif %}"><a href="{{ "/articles/" | absolute_url }}">Articles</a></li>
    <li class="{% if page.url contains '/hypnotherapy-faq/' %} active {% endif %}"><a href="{{ "/hypnotherapy-faq/" | absolute_url }}">FAQ</a></li>
    <li class="{% if page.url contains '/hypnotherapy-uses/' %} active {% endif %}"><a href="{{ "/hypnotherapy-uses/" | absolute_url }}">Uses</a></li>
    <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
    <li class="{% if page.url contains '/client-feedback/' %} active {% endif %}"><a href="{{ "/client-feedback/" | absolute_url }}">Feedback</a></li>
  </ul>
  <ul class="links">
    <form action="{{ "/search/" | absolute_url }}" method="get">
      <label for="search-box">Search</label>
      <input type="text" id="search-box" name="query" placeholder="Search" size="6">
    </form>
  </ul>
</nav>